@charset "UTF-8";

body{
    background-color: beige;
}

h1{
    color: red;
}

h1#principal{
    text-align: center;
    background-color: red;
    color: white;
}

h2{
    color: rgb(224, 80, 80);
}

.basico{
    color: rgb(0, 250, 0);
}

.intermediario{
    color: rgb(255, 255, 0);
}

.avancado{
    color: rgb(255, 0, 149);
}

.destaque{
    background-color: rgb(109, 109, 243);
}